/* User Info Form Container */
.user-info-form {
    position: relative;
    background-color: #342703;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(235, 171, 9, 0.569);
    width: 100%;
    max-width: 550px;
    margin: 30px auto 20px auto;
}

/* Form Inputs */
.user-info-form input {
    width: 100%;
    padding: 10px;
    margin: 3px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.user-info-form input:focus {
    border-color: #aa9d05;
    outline: none;
}

/* Form Placeholder Styling */
.user-info-form input::placeholder {
    color: #999;
    font-size: 14px;
}

/* Image Input Field */
.user-info-form input[type="file"] {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    color: #ddd;
    background-color: #1e1e1e;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.user-info-form input[type="file"]::-webkit-file-upload-button {
    background-color: #a99766;
    color: #3c3310;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.user-info-form input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #83754e;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: center;
    gap: 3px; /* Space between buttons */
    margin-top: 15px;
}

/* Form Button */
.user-info-form button {
    padding: 10px;
    background-color: #a99766;
    border: none;
    border-radius: 5px;
    color: #3c3310;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 0 5px; /* Space between buttons */
    flex: 1; /* Make buttons take equal width */
}

.user-info-form button:hover {
    background-color: #83754e;
}

.user-info-form button:focus {
    outline: none;
    background-color: #675b3c;
}

.user-info-form button:disabled {
    background-color: #ccc;  /* Gray out the button */
    cursor: not-allowed;     /* Show not-allowed cursor */
}

/* Checkbox Container */
.user-info-form .checkbox-container {
    display: flex;
    align-items: center;
    height: 25px;
}

.user-info-form .checkbox-container input[type="checkbox"] {
    margin-right: 10px;
    width: 18px;
    cursor: pointer;
    accent-color: #a99766; /* Change the color of the checkbox when checked */
}

.user-info-form .checkbox-container label {
    color: #ddd;
    font-size: 14px;
    cursor: pointer;
    user-select: none; /* Prevent text selection when clicking */
}

/* Register Notice */
.register-notice {
    background-color: #f9edbe;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    margin-top: 3px;
}

.register-notice p {
    margin: 0;
    color: #856404;
    font-size: 16px;
    font-weight: bold;
}

/* Error Message Notice */
.error-message-notice {
    display: flex;
    justify-content: center;
    height: 20px;
    margin-top: 3px;
}


.error-message-notice p {
    margin: 0;
    color: #0da7b5;
    font-size: 16px;
}

/* Error Message Container */
.error-message-container {
    display: flex;
    justify-content: space-between;
}

/* Login Error Message Notice */
.login-error-message-notice {
    display: flex;
    justify-content: end;
    height: 20px;
    margin: 0;
}

.login-error-message-notice p {
    margin: 0;
    color: #0da7b5;
    font-size: 14px;
}


/* Responsive Design */
@media (max-width: 500px) {
    .user-info-form {
        padding: 20px;
        border-radius: 8px;
    }

    .user-info-form input,
    .user-info-form button {
        font-size: 14px;
    }

    .user-info-form .checkbox-container label {
        font-size: 13px;
    }

    /* Stack buttons vertically on small screens */
    .button-container {
        flex-direction: column;
    }

    .button-container button {
        margin: 5px 0;
    }

    .error-message-container {
        flex-direction: column;
        justify-content: center;
    }

    .login-error-message-notice {
        flex-direction: column;
        justify-content: center;
    }

    .error-message-notice {
        flex-direction: column;
        justify-content: center;
    }
}
